@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.8333333333vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width:991px) {
  html {
    font-size: 1.3333334vw;
  }
}

@media (max-width:600px) {
  html {
    font-size: 4.102564103vw;
  }
}

body {
  font-family: "Inter", serif;
  background: #07080a;
  color: white;
}

a {
  text-decoration: none;
  color: #9c9c9d;
  font-size: 1.25rem;
}

/* ----------- Header Start ----------- */
header {
  position: fixed;
  width: 100%;
  padding: 2rem;
  z-index: 99;
}

.container {
  max-width: 95rem;
  margin: 0 auto;
}

header .wrapper {
  padding: 1.5rem 2.5rem;
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  border: 0.063rem solid #ffffff0f;
  display: flex;
  align-items: center;
  background: linear-gradient(137deg, rgba(17, 18, 20, .75) 4.87%, rgba(12, 13, 15, .9) 75.88%);
  justify-content: space-between;
  position: relative;
}


.navbar nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar nav li {
  list-style: none;
}

.navbar nav li a {
  transition: all 0.4s ease-out;
  font-weight: 500;
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

.buttons .log-in {
  padding: 0.75rem 0.5rem;
  transition: all 0.4s ease-out;
}

.buttons .log-in:hover {
  color: white;
}

.buttons a {
  font-weight: 500;
}

a.white-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #2f3031;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .5), 0 0 14px 0 hsla(0, 0%, 100%, .19), inset 0 -1px .4px 0 rgba(0, 0, 0, .2), inset 0 1px .4px 0 #fff;
  background: #e6e6e6;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.4s ease-out;
  width: fit-content;
}

a.white-btn img {
  width: 1.25rem;
  height: 1.25rem;
  filter: brightness(0) saturate(100%) invert(19%) sepia(7%) saturate(156%) hue-rotate(169deg) brightness(92%) contrast(96%);
}

header .wrapper .logo {
  width: 8rem;
}

header .wrapper .logo img{
  transition: all 0.4s ease-out;
}

header .wrapper .logo img:hover{
  transform: scale(1.05);
}

.navbar nav li a:hover {
  color: white;
}

a.white-btn:hover {
  background: white;
}

.navbar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ----------- Header End ----------- */

/* ----------- Hero Section Start ----------- */

.video-sec {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.video-sec video {
  width: 100%;
}

.hero-sec .content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 23.125rem;
  padding-bottom: 13.25rem;
}

.hero-sec .content h1 {
  font-size: 5rem;
  width: 50%;
  text-align: center;
  margin-bottom: 2rem;
}

.hero-sec .content p {
  font-size: 1.5rem;
  width: 35%;
  text-align: center;
}

.hero-sec .hero-bottom {
  position: relative;
  z-index: 2;
}

.hero-sec .hero-bottom .hero-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

a.black-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, .05), 0 0 0 1px hsla(0, 0%, 100%, .25), inset 0 -1px 0 0 rgba(0, 0, 0, .2);
  background: linear-gradient(180deg, hsla(0, 0%, 100%, .03), hsla(0, 0%, 100%, .1));
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.4s ease-out;
  width: fit-content;
}

a.black-btn img {
  width: 1.25rem;
  height: 1.25rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%) hue-rotate(110deg) brightness(98%) contrast(108%);
}

a.black-btn:hover {
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, .05), 0 0 0 1px hsla(0, 0%, 100%, .5), inset 0 -1px 0 0 rgba(0, 0, 0, .2);
}

.hero-sec .versions {
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
  font-family: "Geist Mono", serif;
  color: #9c9c9d;
}

.glowing-btn {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.glowing-btn img {
  width: 1.25rem;
  filter: brightness(0) saturate(100%) invert(65%) sepia(0%) saturate(2327%) hue-rotate(234deg) brightness(95%) contrast(86%);
  margin-left: 0.5rem;
}

.glowing-btn-wrapper {
  padding: 0.063rem;
  background: conic-gradient(from calc(var(--r2) - 80deg) at var(--x) 15px, transparent 0, #eca5a7 20%, transparent 25%), #452324;
  border-radius: 2.688rem;
  box-shadow: 0 0 20px 0 rgba(245, 48, 107, .1);
  transition: all 0.4s ease-out;
  transform: translateZ(0);
  width: fit-content;
}

.glowing-btn-wrapper.animate {
  animation: animation-1 -.64s linear 3s infinite, animation-2 -.64s linear 3s infinite;
}

.glowing-btn-wrapper:hover {
  background-color: #833637;
  box-shadow: 0 0 20px 3px rgba(245, 49, 108, .25)
}

.btn-anchor {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.813rem;
  align-items: center;
  padding: 0.75rem 1rem;
  font-weight: 500;
  background: #130d0e;
  border-radius: 62.5rem;
}

.btn-anchor .btn-span {
  position: relative;
  display: flex;
  margin-left: 0.5rem;
}

.btn-anchor .btn-span:before {
  position: absolute;
  top: 50%;
  left: -1.1rem;
  pointer-events: none;
  content: "|";
  transform: translateY(-50%)
}

.btn-anchor .introducing {
  color: white;
  margin-right: 0.5rem;
}

@property --r2 {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg
}

@property --x {
  syntax: "<length>";
  inherits: false;
  initial-value: 0
}

@keyframes animation-2 {
  0% {
    --x: 1.25rem
  }

  32.82275711% {
    --x: 27rem
  }

  50% {
    --x: 27rem
  }

  82.82275711% {
    --x: 1.25rem
  }

  to {
    --x: 1.25rem
  }
}

@keyframes animation-1 {
  0% {
    --r2: 0deg
  }

  32.82275711% {
    --r2: 0deg
  }

  50% {
    --r2: 180deg
  }

  82.82275711% {
    --r2: 180deg
  }

  to {
    --r2: 360deg
  }
}

/* ----------- Hero Section End ----------- */

/* ----------- Tools Section Start ----------- */
.tools-sec {
  padding-top: 10rem;
  padding-bottom: 20rem;
}

.tools-sec .top-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tools-sec .top-sec .para-sec p,
.tools-sec .top-sec .para-sec h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.tools-sec .top-sec .para-sec p {
  color: #6a6b6c;
}

.tools-sec .top-sec .para-sec {
  width: 30%;
}

.tabs a {
  text-transform: capitalize;
  transition: all 0.4s ease-out;
  position: relative;
  height: 2.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.8rem;
}

.tabs {
  display: flex;
  gap: 0.5rem;
  background: linear-gradient(137deg, rgba(17, 18, 20, .75) 4.87%, rgba(12, 13, 15, .9) 75.88%);
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, .1);
  border-radius: 6.25rem;
  border: 0.063rem solid #ffffff0f;
  padding: 1rem 1.5rem;
}

.tabs a:hover {
  color: white;
}

.active-backdrop {
  position: absolute;
  background: radial-gradient(51.07% 92.4% at 51% 7.61%, #5a5a5a 0, #1a1a1a 100%);
  width: 100%;
  height: 100%;
  border-radius: 6.25rem;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.tab-link {
  position: relative;
}

.carousel {
  margin-top: 5rem;
}

.carousel-wrapper .content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  position: relative;
}

.carousel-wrapper .content .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-wrapper .content .top .top-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.carousel-wrapper .content .top .top-left h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.carousel-wrapper .content .top .top-right {
  width: 3.25rem;
  height: 3.25rem;
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, .05), 0 0 0 1px hsla(0, 0%, 100%, .25), inset 0 -1px 0 0 rgba(0, 0, 0, .2);
  transition: all 0.4s ease-out;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, .03), hsla(0, 0%, 100%, .1));
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-wrapper .content .top .top-right img {
  width: 1.5rem;
  height: 1.5rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7465%) hue-rotate(71deg) brightness(103%) contrast(83%);
}

.carousel-wrapper .content p {
  font-size: 1.25rem;
  line-height: 1.8rem;
}

.carousel-wrapper:hover .content .top .top-right {
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, .05), 0 0 0 1px hsla(0, 0%, 100%, .5), inset 0 -1px 0 0 rgba(0, 0, 0, .2);
}

.carousel-wrapper .content::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 0.063rem;
  background: hsla(0, 0%, 100%, .05);
  left: 50%;
  transform: translateX(-50%);
}

.carousel-wrapper .image img {
  width: 100%;
}

.swiper-wrapper {
  max-width: 95rem;
  margin: 0 auto;
}

.carousel-wrapper {
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.10) inset, 0px 0px 20px 3px rgba(7, 13, 79, 0.05), 0px 0px 40px 20px rgba(7, 13, 79, 0.05), 0 0 0 1px rgba(255, 255, 255, 0.06) inset;
  border-radius: 1.25rem;
  position: relative;
  cursor: pointer;
}

.linear.carousel-wrapper {
  background: linear-gradient(138deg, rgba(32, 35, 91, 0.70) 22.00%, rgba(7, 9, 33, 0.70) 82.00%);
}

.google.carousel-wrapper {
  background: radial-gradient(94.21% 78.40% at 50.00% 29.91%, rgba(43, 94, 180, 0.70), rgba(13, 16, 35, 0.42));
}

.carousel-wrapper::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, transparent 0, rgba(0, 0, 0, .25) 80%);
  border-radius: 1.25rem;
  mix-blend-mode: soft-light;
  transition: all 0.4s ease-out;
  opacity: 0;
  pointer-events: none;
}

.carousel-wrapper:hover:after {
  opacity: 1;
}

.carousel .swiper-button-prev:after,
.carousel .swiper-rtl .swiper-button-next:after {
  content: '';
  background-image: url(assets/prev-arrow.svg);
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7465%) hue-rotate(71deg) brightness(103%) contrast(83%);
  width: 1.5rem;
  height: 1.5rem;
}

.carousel .swiper-button-prev,
.carousel .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, .1);
  background: linear-gradient(137deg, rgba(17, 18, 20, .75) 4.87%, rgba(12, 13, 15, .9) 75.88%);
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 6.25rem;
}

.carousel .swiper-button-next:after,
.carousel .swiper-rtl .swiper-button-prev:after {
  content: '';
  background-image: url(assets/arrow-carousel.svg);
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7465%) hue-rotate(71deg) brightness(103%) contrast(83%);
  width: 1.5rem;
  height: 1.5rem;
}

.carousel .swiper {
  overflow: visible;
}

.carousel .swiper-button-next {
  top: auto;
  bottom: -10rem;
  z-index: 8;
  right: 12rem;
  transition: all 0.4s ease-out;
}

.carousel .swiper-button-prev {
  top: auto;
  bottom: -10rem;
  left: auto;
  right: 18rem;
  transition: all 0.4s ease-out;
}

.carousel .swiper-button-prev:hover,
.carousel .swiper-button-next:hover {
  box-shadow: inset 0 1px 1px 0 hsla(0, 0%, 100%, .1),
    0 2px 40px 10px rgba(154, 170, 255, .05),
    0 0 16px -7px rgba(154, 170, 255, .05);
}

.browseBtn a {
  display: flex;
  align-items: center;
  transition: all 0.4s ease-out;
}

.browseBtn a:hover {
  color: white;
}

.browseBtn a:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7465%) hue-rotate(71deg) brightness(103%) contrast(83%);
  transform: scale(1.3);
}

.browseBtn a img {
  width: 1.25rem;
  filter: brightness(0) saturate(100%) invert(65%) sepia(0%) saturate(2327%) hue-rotate(234deg) brightness(95%) contrast(86%);
  margin-left: 0.5rem;
  transition: all 0.4s ease-out;
}

.browseBtn {
  position: absolute;
  bottom: -8rem;
  left: 12rem;
}

.color-picker.carousel-wrapper {
  background: radial-gradient(215.15% 78.4% at 50% 29.91%, rgba(170, 12, 155, 0.7), rgba(0, 0, 0, 0));
}

.tiny-png.carousel-wrapper {
  background: radial-gradient(84.35% 70.19% at 50% 38.11%, rgba(2, 96, 101, 0.57), rgba(5, 136, 178, 0.06));
}

.arc.carousel-wrapper {
  background: radial-gradient(94.21% 78.4% at 50% 29.91%, rgba(39, 61, 180, 0.7), rgba(15, 9, 38, 0.4));
}

.tab-link.active .active-backdrop {
  opacity: 1;
}

.tab-link.active a {
  color: white;
}

.carousel-swiper {
  opacity: 0;
  visibility: hidden;
  transform: translateY(1.25rem);
  transition: all 0.4s ease-out;
  position: absolute !important;
  width: 100%;
}

.carousel-swiper.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  position: relative;
}

/* ----------- Tools Section End ----------- */